html{
    background-color: azure;
}
.menu{
    background-color: rgb(2, 92, 125);
    box-shadow:inset 2px 3px 2px rgb(9, 178, 235);
    color: gold;
    border:2px solid black;
    min-width:750px;
    max-width: 800px;
    min-height: 25px;
    max-height: 50px;
    margin:2px 3px;
    padding:2px 5px;
}
button{
    display:inline;
    border:2px solid black;
    border-radius:30%;
    background-color: rgb(9, 178, 235);
    color:gold;
    padding:2px 3px;
    margin:2px 3px;
    box-shadow: -2px 3px 2px azure;
    text-shadow: -2px 3px 2px blueviolet;
}
button:hover{
    background-color:antiquewhite;
    color:black;
    box-shadow: -2px 3px 3px snow;
}
button:active{
    background-color: #335598;
    color: gray;
    text-shadow: 2px 2px 2px black;      
}
#cv{
    display: inline-block;
}
#contact{
    display: inline-block;
}
#les9{
    display: inline-block;
}
#les12{
    display: inline-block ;
}
/*nav ^ gedeelte*/
.begin{
    border:2px solid black;
    box-shadow: inset 2px 3px 3px rgb(9, 178, 235);
    min-width: 750px;
    width:800px;        
    background-color: rgb(2, 92, 125);
    color:gold;
    display:inline-block;
    margin:2px 3px;
    padding:2px 5px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
/*divider and p*/
img{
    border:1px solid;
    min-width: 150px;
    max-width: 300px;
    min-height: 150px;
    max-height: 300px;
    position: 2px 5px;
    float: left;
    display:inline;
}
/*foto gedeelte*/
.hobby{
    border:1px solid black;
    display: inline-block;
    box-shadow: inset 2px 3px 2px rgb(9, 178, 235);
    min-width: none;
    max-width: 250px;
    width:150px;
    height:175px;
}
#voetbal{
    list-style-image: url(afbeeldingen/logo/icons8-soccer-ball-20.png);
}
#teken{
    list-style-image: url(afbeeldingen/logo/icons8-art-workshop-20.png);
}
#hangen{
    list-style-image: url(afbeeldingen/logo/icons8-hammock-20.png);
}
#game{
    list-style-image: url(afbeeldingen/logo/icons8-game-controller-20.png);
}
#music{
    list-style-image: url(afbeeldingen/logo/icons8-music-20.png);
}
footer{
    border:2px solid black;
    display:block;
    box-shadow:inset 2px 3px 2px rgb(9, 178, 235);
    min-width: 750px;
    max-width: 800px;
    min-height: 150px;
    max-height: 200px;
    background-color: rgb(2, 92, 125);
    color: gold;
    margin:2px 3px;
    padding:2px 5px;
}
#author{
    display: inline;
}
#scava{
    display:inline-block;
}
#sinds{
    display:inline-block ;
}
#jaar{
    display:inline-block;
}
